* {
    margin: 0;
    padding: 0;
   
    
}

body {
    font-family: 'Acme', sans-serif;
    min-height: 100vh;
    background-color: #EFEFEF;
}
 

/* Navbar */
a{
    text-decoration: none;
 }
 
 li{
    list-style-type: none;
 }
 
 .navbarr{
    position: fixed;
    z-index: 100;
 }
 
 .navbarr nav #uli{
    margin-left: 140px;
 }
 
 header{
    background-color: #222831;
    box-shadow: -1px 2px 10px #1b2028;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
    border-bottom: 1px #111C2C;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
 }
 
 .logo{
  
    font-weight: 900;
    font-size: 26px;
    background: -webkit-linear-gradient(45deg, #0d40f9,white );-webkit-background-clip: text;-webkit-text-fill-color: transparent;
 }
 
 
 nav ul{
    display: flex;
    flex-direction: row;
 }
 
 nav ul li{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
 }
 nav ul li a{
    color: #FFF;
    font-size: 16px;
    display: block;
    padding: 7px 20px;
    border-radius: 15px;
 }
 
 nav ul li a:hover{
    color:#598ff3dc;
 }
 
 .cta{
    background-color: white;
    color: #598EF3;
    border-radius: 15px;
    font-size: 14px;
 
 }
 
 .cta:hover{
    background-color: rgba(255, 255, 255, 0.894);
    color: #598ff3;
 }
 
 
 
 .ctaa{
    background-color: #598EF3;
    color: white;
    border-radius: 15px;
    font-size: 14px;
 }
 
 .ctaa:hover{
    background-color:#4682f3e9;
    color: white;
 }
 
 
 
 @media (max-width: 1366px) {
    html{
       font-size: 75%;
    }
 }
 
 /* tablet */
 @media (max-width: 768px) {
    html{
       font-size: 62.5%;
    }
 
    
 }
 
 /* phone */
 @media (max-width: 450px) {
    html{
       font-size: 55%;
    }
 }

 /* KONTEN */
.container-2 {
    background-color: #598EF3;
    width: 100%;
    height: 350px;
    color: white;
   
}

.container-2 .konten-2 {
    text-align: center;
    padding-top: 90px;
}

.container-2 .konten-2 h2{
    font-size: 40px;
}

.container-2 .konten-2 h4{
    font-size: 20px;
    padding: 1rem;
}

.container-2 .konten-2 p{
    font-size: 19px;
    margin-top: 1.5rem;
    background-color: #111C2C;
    border-radius: 30px;
    padding: 13px 65px 13px 65px;
    /* padding-left: 2rem; */
    /* padding-right: 2rem; */
    width: fit-content;
    
    margin: auto;
   
    
}

/* .container-2 .konten-2 img {
    scale: 70%;
    position: absolute;
    bottom: 30%;
    left: 77%;
} */

/* Container 3 */

.container-3 {
    background-color: #13141F;
    width: 100%;
    height: 350px;
    color: white;
    
}

.container-3 .konten-3 {
    text-align: center;
    padding-top: 6rem;
}

.container-3 .konten-3 p{
    padding-top: 1rem;
    font-weight: 100;
    color: #808080;
}

/* Card about us */

.container-33{
   background-color: #21212C;
   height: 600px;
   color: #FFF;
}
.container-33 .konten-33 {
  text-align: center;
  padding-top: 4rem;
 
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;

  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #265DF2;
  }
  
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }

/* Container 5 */

.container-5 {
    background-color: #13141F;
    width: 100%;
    height: 365px;
    color: white;
   
}

.container-5 .konten-5 {
    padding-top: 6.5%;
    margin-left: 11%;
}

.container-5 .konten-5 h1 {
    padding-bottom: 1.5rem;
}

.container-5 .konten-5 p {
 
    font-weight: 100;
    color: #808080;
}

.container-5 .konten-5 a {
    color: #598EF3;
}

.container-5 .konten-5 p:nth-last-child(1) {
    margin-top: 1.5rem;
}
 /* container 6 */
.container-6 {
    background-color: #21212C;
    width: 100%;
     height: 300px;
    color: white;
    
}

.container-6 .konten-6 {
    text-align: center;
    padding-top: 5%;
}

.container-6 .konten-6 p {
    padding: 1rem 1rem;
    font-weight: 100;
    color: #808080;
}

.container-6 .konten-6 p:nth-last-child(1) {
  font-size: 19px;
    margin-top: 1.5rem;
    background-color: #111C2C;
    border-radius: 30px;
    padding: 13px 65px 13px 65px;
    width: fit-content;
    margin: auto;
}

/* scrollbar */
/* width */